<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="alert alert-success" role="alert">
  <p>There are <%= link_to "#{@product_count} products", admin_products_path %></p>
  <p>There are <%= link_to "#{@category_count} categories", admin_categories_path %></p>
</div>
