<section class="line-items-show">


  <tr>
    <td colspan="2">
      <h6><%= product %></h6>
    </td>
    <td>
      <h6><%= unit_price %></h6>
    </td>
    <td>
      <h6><%= quantity %></h6>
    </td>
    <td>
      <h6><%= price %></h6>
    </td>
  </tr>


</section>