<header class="page-header">
  <h1>About The Jungle</h1>
</header>

<p>Hello, planthusiasts! I'm Viktor, the green-thumbed founder and botanical curator of "The Jungle," a haven for exotic and rare potted plants. With an academic background in botany and a lifelong passion for horticulture, I ventured into the uncharted territories of the plant world to bring you the most extraordinary, and often elusive, species from every corner of the globe. </p>

<p> My mission is to help you create unique, breathtaking green spaces in your home and office, regardless of size or climate. I believe that everyone deserves their own personal oasis, and nothing sparks joy and wonder quite like a plant that is a living piece of art.</p>

<p>Whether you're an experienced collector looking to add to your garden, or a novice plant parent ready to venture beyond succulents, I'm excited to guide you on your plant journey. Welcome to The Jungle, where the extraordinary is the norm!
</p>
